# Ignore virtual environment files
venv/
__pycache__/
*.py[cod]

# Ignore unnecessary system files
*.log
.DS_Store

# Ignore any IDE or environment-specific settings
.env
.vscode/
.idea/

# Ignore specific unwanted files
test_model.py
eda.py